/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@forward '../node_modules/bulma/bulma.sass' with (
    $navbar-breakpoint: 576px !default
);

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {scroll-behavior: smooth;}

.page {
    height: 100vh;
    // background-color: $grey-dark;
    &--with-nav {
        @extend .page;
        padding-top: 3.25rem;
    }
}