/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */
@forward '../node_modules/bulma/bulma.sass' with (
    $navbar-breakpoint: 576px !default,
    $tabs-border-bottom-color: $faded-white !default,
    $tabs-link-color: $faded-white !default,
    $tabs-link-hover-border-bottom-color: $faded-white !default,
    $tabs-link-hover-color: white !default,
    $tabs-link-active-border-bottom-color: $gold !default,
    $tabs-link-active-color: $gold !default
);

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html {scroll-behavior: smooth;}
.fa-brands {color: white}

.page {
    height: 100vh;
    &--with-nav {
        @extend .page;
        padding-top: 3.25rem;
    }
}

.container {margin: 0 5vw;}

.hide {display: none;}

/* Hide scrollbars */
.no-scrollbars {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari and Opera */
    }
}

// NAVBAR
#navi {background-color: transparent;}
#logo {color: white;}
.navbar-menu {justify-content:space-between;}
.mobile {
    height: 100vh;
    // display: flex !important;
    // flex-flow: row-reverse;
    // * {width: 40vw;}
    #nav3 {margin: 0.5rem 37vw;}
    .is-tab {
        border-top: 1px solid $dark !important;
    }
    
}
// .desktop {
//     // #nav0 {border-left: 1px solid $gold;}
// }
.is-spaced {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
.is-tab {
    border-bottom: 1px solid $dark !important;
    &:hover {border-color: $gold !important;}
}
#nav3 {
    margin: 0.5rem 0.75rem;
    &:hover {
        background-color: $gold;
        color: $dark !important;
    }
}

// SOCIALS
i {
    color: white;
    &:hover {color: $gold;}
}