/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bulma */

@forward '../node_modules/bulma/bulma.sass' with (
    $navbar-breakpoint: 786px !default,
    $tabs-border-bottom-color: $faded-white !default,
    $tabs-link-color: $faded-white !default,
    $tabs-link-hover-border-bottom-color: $faded-white !default,
    $tabs-link-hover-color: $white !default,
    $tabs-link-active-border-bottom-color: $gold !default,
    $tabs-link-active-color: $gold !default
);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
*, button {font-family: 'Share Tech Mono', monospace;}

// COLORS
svg {color: $gold;} // don't work in <style> tags due to load?
form svg {color: $faded-white;}
p {color: $white;}
a {
    color: $link;
    &:hover {color: $link;} // prevent from disappearing
}

// UTILITY
.hide {display: none;}
.no-scrollbars {
    -ms-overflow-style: none;  // IE and Edge
    scrollbar-width: none;  // Firefox
    &::-webkit-scrollbar {
        display: none; // Chrome, Safari and Opera
    }
}

// HOMEPAGE
.page {
    height: 100vh; // fallback
    height: calc(var(--vh, 1vh) * 100) !important;
    &--with-nav {
        @extend .page;
        padding-top: 52px;
        &--and-foot {
            @extend .page--with-nav;
            height: calc(100vh - 52px); // fallback
            height: calc(var(--vh, 1vh) * 100 - 3.25rem) !important;
        }
    }
}

@supports (scroll-snap-align: start) {
    html, body {
        @extend .no-scrollbars;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory; 
        overscroll-behavior-y: none;
    }
    header, section, footer {scroll-snap-align: start;}
}

// SIZING
.contain {margin: 0 auto; max-width: 90vw;}
h1.heading {font-size: 1rem;}
h3.heading {font-size: 16px;}
#contact button {font-size: 6vw; font-weight: bolder;}

@media screen and (min-width: 576px) { 
    .contain {max-width: 80vw;}
    h1.heading {font-size: 3vw;}
    #motto>p {font-size: 2.25vw}
    #contact button {font-size: 2rem;}
}
@media screen and (min-width: 960px) {
    .contain {max-width: 70vw;}
    #about .tabs, #about #skills *, #portfolio .project p, #portfolio .button, #contact p, footer {
        font-size: 2vh !important;
    }
    #portfolio .project h2, #portfolio a {
        font-size: 1.75vh !important;
    }
}
@media screen and (min-width: 1344px) {
    .contain {max-width: 60vw;}
}
@media screen and (min-width: 2112px) {
    .contain {max-width: 50vw;}
    nav {font-size: 1.75vh !important;}
}