html {scroll-behavior: smooth;}

.page {
    height: 100vh;
    // background-color: $grey-dark;
    &--with-nav {
        @extend .page;
        padding-top: 3.25rem;
    }
}

// bulma changes:
// $navbar-breakpoint: $mobile !default
// $mobile: 576px !default
