/* Variables and mixins declared here will be available in all other SCSS files */ /* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;

// need svelte-preprocessor for SCSS to use in style tags
$white: hsl(0,0%,97%);
$gold: #FFE08A;
$dark: hsl(0, 0%, 21%);
$link: hsl(121,71%,71%);
$faded-white: hsl(0, 0%, 71%);

// prep for dark mode option
// $primary-color: var();
// $secondary-color: var();